<div>

    <div class="banner-outer">
        <img class="banner" src="img/banner.png" />
    </div>
    <div class="container currency-container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title">
                    代币交易
                </h2>
                <div><div class="section-title-underscore"></div></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="trade-tile">
                    <div class="trade-count">3</div>
                    <div class="trade-subtitle">正在进行</div>
                </div>
                <h3 class="section-title">POMELO</h3>
                <div><div class="section-title-underscore"></div></div>
                <div class="currency-description">POMELO是柚子加速器发行代币</div>
                <table class="trade-table">
                    <tr>
                        <td>yuko</td>
                        <td>出售</td>
                        <td>15.0000 POMELO</td>
                        <td>12.0000 EOS</td>
                        <td>2分钟前</td>
                    </tr>
                </table>
                <div style="margin-top: 10px;">
                    <a href="#" class="btn btn-small"><i class="fa fa-exchange"></i> 去交易</a>
                    <a href="#" class="btn btn-small"><i class="fa fa-home"></i> 去官网</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="trade-tile">
                    <div class="trade-count">0</div>
                    <div class="trade-subtitle">正在进行</div>
                </div>
                <h3 class="section-title">SATOKO</h3>
                <div><div class="section-title-underscore"></div></div>
                <div class="currency-description">SATOKO是由itegame发行的代币，ITE 是首款基于 EOS 开发的星际探索博弈游戏，由智能合约控制自动循环开局。每局参与用户博弈的结果将导致文明的发展将走上不同的分叉路径。</div>
                <table class="trade-table">
                    <tr>
                        <td>yuko</td>
                        <td>求购</td>
                        <td>15.0000 SATOKO</td>
                        <td>1.0000 EOS</td>
                        <td>2分钟前</td>
                    </tr>
                    <tr>
                        <td>yuko</td>
                        <td>求购</td>
                        <td>15.0000 SATOKO</td>
                        <td>1.0000 EOS</td>
                        <td>2分钟前</td>
                    </tr>
                </table>
                <div style="margin-top: 10px;">
                    <a href="#" class="btn btn-small"><i class="fa fa-exchange"></i> 去交易</a>
                    <a href="#" class="btn btn-small"><i class="fa fa-home"></i> 去官网</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="trade-tile">
                    <div class="trade-count">3</div>
                    <div class="trade-subtitle">正在进行</div>
                </div>
                <h3 class="section-title">POMELO</h3>
                <div><div class="section-title-underscore"></div></div>
                <div class="currency-description">POMELO是柚子加速器发行代币</div>
                <table class="trade-table">
                    <tr>
                        <td>yuko</td>
                        <td>出售</td>
                        <td>15.0000 POMELO</td>
                        <td>12.0000 EOS</td>
                        <td>2分钟前</td>
                    </tr>
                    <tr>
                        <td>yuko</td>
                        <td>出售</td>
                        <td>15.0000 POMELO</td>
                        <td>12.0000 EOS</td>
                        <td>2分钟前</td>
                    </tr>
                    <tr>
                        <td>yuko</td>
                        <td>出售</td>
                        <td>15.0000 POMELO</td>
                        <td>12.0000 EOS</td>
                        <td>2分钟前</td>
                    </tr>
                </table>
                <div style="margin-top: 10px;">
                    <a href="#" class="btn btn-small"><i class="fa fa-exchange"></i> 去交易</a>
                    <a href="#" class="btn btn-small"><i class="fa fa-home"></i> 去官网</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="trade-tile">
                    <div class="trade-count">0</div>
                    <div class="trade-subtitle">正在进行</div>
                </div>
                <h3 class="section-title">SATOKO</h3>
                <div><div class="section-title-underscore"></div></div>
                <div class="currency-description">SATOKO是由itegame发行的代币，ITE 是首款基于 EOS 开发的星际探索博弈游戏，由智能合约控制自动循环开局。每局参与用户博弈的结果将导致文明的发展将走上不同的分叉路径。</div>
                <table class="trade-table">
                    <tr>
                        <td>yuko</td>
                        <td>求购</td>
                        <td>15.0000 SATOKO</td>
                        <td>1.0000 EOS</td>
                        <td>2分钟前</td>
                    </tr>
                </table>
                <div style="margin-top: 10px;">
                    <a href="#" class="btn btn-small"><i class="fa fa-exchange"></i> 去交易</a>
                    <a href="#" class="btn btn-small"><i class="fa fa-home"></i> 去官网</a>
                </div>
            </div>
        </div>
    </div>
</div>