<div>
    <div class="banner-outer">
        <img class="banner" src="img/banner.png" />
    </div>
    <div class="container currency-container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title">
                    代币交易
                </h2>
                <div><div class="section-title-underscore"></div></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" v-for="x in $root.currencies.filter(y => y.pin)">
                <div class="trade-tile">
                    <div class="trade-count">{{ x.buys.length + x.sells.length }}</div>
                    <div class="trade-subtitle">正在进行</div>
                </div>
                <h3 class="section-title">{{ x.id }}</h3>
                <div><div class="section-title-underscore"></div></div>
                <div class="currency-description">{{ x.description }}</div>
                <table class="trade-table">
                    <tr v-for="y in x.buys">
                        <td>{{ y.account }}</td>
                        <td>出售</td>
                        <td>{{ y.asset }}</td>
                        <td>{{ y.eos.toFixed(4) }} EOS</td>
                    </tr>
                    <tr v-for="y in x.sells">
                        <td>{{ y.account }}</td>
                        <td>出售</td>
                        <td>{{ y.asset }}</td>
                        <td>{{ y.eos.toFixed(4) }} EOS</td>
                    </tr>
                </table>
                <div style="margin-top: 10px;">
                    <a href="#" class="btn btn-small"><i class="fa fa-exchange"></i> 去交易</a>
                    <a v-bind:href="x.website" target="_blank" class="btn btn-small"><i class="fa fa-home"></i> 去官网</a>
                </div>
            </div>
        </div>
    </div>
</div>